In [1]:
import pandas as pd
import numpy as np

In [2]:
# sample dataframe
df = pd.DataFrame (np.random.randint(0,100,size=(10, 4)),
                   columns=list('ABCD'))

In [3]:
# original method output
df.tail(n=2)

    A   B   C   D
8  84  35  47  87
9  49  22  96  57

In [4]:
# definition of our replacement method
def tail_monkey_patch(self, n: int = 5):
  print(f'{"*"*10} Monkey patch! {"*"*10}')
  if n == 0:
    return self.iloc[0:0]
  return self.iloc[-n:]

In [5]:
# Replace the original method with our modified version
pd.core.generic.NDFrame.tail = tail_monkey_patch

In [6]:
# simply using our modified method!
df.tail(n=2)

********** Monkey patch! **********

    A   B   C   D
8  84  35  47  87
9  49  22  96  57

In [ ]:
# original method (from https://github.com/pandas-dev/pandas/blob/v1.3.4/pandas/core/generic.py#L5075-L5148)
 def tail(self: FrameOrSeries, n: int = 5) -> FrameOrSeries:
        """[...]"""
        if n == 0:
            return self.iloc[0:0]
        return self.iloc[-n:]